In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [2]:
df = pd.read_csv('Hotel_Reservations_clean.csv')
df.head()

,Booking_ID,num_adults,num_children,weekend_nights,week_nights,total_nights,meal_plan,car_parking,room_type,lead_time,...,num_prev_cancellations,num_prev_not_canceled,avg_price_room,num_sp_requests,booking_status,meal_plan_cod,room_type_cod,mkt_segment_cod,arrival_season_cod,booking_status_cod
0,INN00001,2,0,1,2,3,Meal Plan 1,0,Room_Type 1,224,...,0,0,65.00,0,No cancelada,1,1,3,3,0
1,INN00002,2,0,2,3,5,Not Selected,0,Room_Type 1,5,...,0,0,106.68,1,No cancelada,0,1,4,1,0
2,INN00003,1,0,2,1,3,Meal Plan 1,0,Room_Type 1,1,...,0,0,60.00,0,Cancelada,1,1,4,1,1
3,INN00004,2,0,0,2,2,Meal Plan 1,0,Room_Type 1,211,...,0,0,100.00,0,Cancelada,1,1,4,1,1
4,INN00005,2,0,1,1,2,Not Selected,0,Room_Type 1,48,...,0,0,94.50,0,Cancelada,0,1,4,0,1